.homeBlock {
  display: flex;
  width: 45px;
  align-items: center;
  margin-right: 45px;
}

.breadCrumbsItem {
  color: darkslateblue;
  background: grey;
  font-size: 15px;
  padding: 10px 15px;
  cursor: pointer;
}

.mainBreadcrumbContainer {
  display: flex;
  align-items: center;
}
